<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <link name="front_mount_yaw_link">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="0.001" />
      <inertia ixx="0.001" ixy="0" ixz="0" iyy="0.001" iyz="0" izz="0.001" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <mesh filename="file://$(find control_mre)/meshes/front_mount_yaw.stl" scale="0.001 0.001 0.001" />
      </geometry>
      <material name="">
        <color rgba="0.10 0.50 0.14 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="1.5708 0 0" />
      <geometry>
        <mesh filename="file://$(find control_mre)/meshes/front_mount_yaw.stl" scale="0.001 0.001 0.001" />
      </geometry>
    </collision>
  </link>

  <joint name="front_mount_yaw_joint" type="fixed">
    <parent link="base_link"/>
    <child link="front_mount_yaw_link"/>
    <origin xyz="0 0 0.1905" rpy="0 0 0"/>
    <axis xyz="0 0 -1"/>
    <dynamics damping="0.1" friction="0.1"/>
    <limit lower="-0.6" upper="0.6" effort="100" velocity="1.0" />
  </joint>

	<gazebo reference="front_mount_yaw_link">
    <visual>  
      <material>  
        <ambient>0.10 0.25 0.14 1.0</ambient>  
        <diffuse>0.10 0.25 0.14 1.0</diffuse>  
        <specular>0.10 0.25 0.14 1.0</specular>  
        <emissive>0.10 0.25 0.14 1.0</emissive>  
      </material>  
    </visual>
	</gazebo>

</robot>
